<!DOCTYPE html>
{%extends 'base.html'%}
{% load staticfiles %}
{%block content%}

    <div class="col-md-9">
        <h1>Новый вопрос</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="form-1-field" class="col-md-2 control-label">Заголовок</label>
                <div class="col-md-10" id="form-1-field"><input type="text" required name="title" class="form-control"
                                                                placeholder="Заголовок вопроса"></div>
            </div>
            <div class="form-group">
                <label for="form-2-field" class="col-md-2 control-label">Текст</label>
                <div class="col-md-10" id="form-2-field"><textarea required name="question" class="form-control"
                                                                   rows="5" placeholder="Введите вопрос"></textarea>
                </div>
            </div>

            <div class="form-group">

                <label for="form-3-field" class="col-md-2 control-label">Теги</label>

                <div class="col-md-10" id="form-3-field">
                    <input name="tags" type="text" required class="form-control" placeholder="Ввод тегов">

                </div>
            </div>
            <div class="col-md-offset-2">
                <!--<button class="btn btn-success" type="button" onclick="location.href='question.html'">Отправить</button> -->

                <button class="btn btn-success" type="submit">Отправить</button>


            </div>
        </form>
        <br>
    </div>
</div>
{% endblock%}



</body>
</html>
