{%extends 'base.html'%}

    {%block content%}
    <div class="col-md-9">
        <div class="row-md-1">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="../static/avatar.png" alt="Аватар" class="img-circle"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Название
                                <small> Никнейм_1</small>
                            </h3>
                            Badges are numerical indicators of how many items are associated with a link.
                            Use the .badge class within span elements to create badges.
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-thumbs-up"></span>

                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="badge">11</span>
                    </button>

                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-thumbs-down"></span>

                    </button>
                    <button class="btn btn-default" type="button">
                        Комментарии <span class="badge">1</span>
                    </button>
                    <div class="pull-right hidden-xs">
                        <h4>Тэги:
                            <small>#имя_тега</small>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="../static/avatar.png" alt="Аватар" class="img-circle"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Название
                                <small> Никнейм_1</small>
                            </h3>
                            Badges are numerical indicators of how many items are associated with a link.
                            Use the .badge class within span elements to create badges.
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-thumbs-up"></span>

                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="badge">-5</span>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-thumbs-down"></span>

                    </button>
                    <button class="btn btn-default" type="button">
                        Комментарии <span class="badge">1</span>
                    </button>
                    <div class="pull-right hidden-xs">
                        <h4>Тэги:
                            <small>#имя_тега</small>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img src="../static/avatar.png" alt="Аватар" class="img-circle"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Название
                                <small> Никнейм_1</small>
                            </h3>
                            Badges are numerical indicators of how many items are associated with a link.
                            Use the .badge class within span elements to create badges.
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-thumbs-up"></span>

                    </button>
                    <button type="button" class="btn btn-success">
                        <span class="badge">3</span>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    </button>
                    <button class="btn btn-default" type="button">
                        Комментарии <span class="badge">1</span>
                    </button>
                    <div class="pull-right hidden-xs">
                        <h4>Тэги:
                            <small>#имя_тега</small>
                        </h4>
                    </div>
                </div>
            </div>

{%endblock%}
            <ul class="pagination">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">много</a></li>
            </ul>
        </div>
    </div>




</body>
</html>
