<!DOCTYPE html>
{%extends 'base.html'%}
{% load staticfiles %}
{%block custom_css%}
.button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 4px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;;
            margin-bottom: 5px;
            bottom: 10px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }
        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
        }
        .button1:hover {
            background-color: #4CAF50;
            color: white;
        }
        .button1:checked {
            background-color: #4CAF50;
            color: white;
        }

{%endblock%}
{%block content%}
    <div class="col-md-9">
        <h1>Вопрос №{{context.que_id}}</h1>
        <hr></hr>
        <div class="media">
            <div class="media-left">
                <a href="#"><img src="{% static '/avatar2.png' %}" alt="Аватарка" class="img-rounded"></a>
                <hr></hr>
                <div class="panel-footer">
                    <button type="button" class="btn btn-success btn-xs ">
                        <span class="glyphicon glyphicon-ok "></span>
                        <p>Solved</p>
                    </button>
                </div>

            </div>

            <div class="media-body">

                <h4 class="media-heading">Тема вопроса
                    <small> от псевдоним</small>
                </h4>
                <div>
                    Recently I obtained a solution which has been created on another person's machine. I have been
                    banging my head
                    into the monitor in the past 2 days trying to fully migrate the solution to my machine. I have been
                    manually
                    changing the directory addresses of the solution and have not been able to compile the solution
                    although I
                    think I have corrected more than 100 paths as of now. Here's my first
                    attempts to migrate the solution to my machine and resolve the issue of not being able to open any
                    of the files.
                    Now I can open all the files in each project on my machine
                    (after manually changing their paths). However, I am still getting
                    the same errors and I'm not able to compile the project. Below is a picture of the errors
                    I'm getting:
                </div>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-thumbs-up">4</span>
                </button>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-thumbs-down">1</span>
                </button>

            </div>
        </div>

        <hr></hr>


        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="{% static '/avatar3.png' %}" alt="Аватарка" class="img-rounded"></a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading"><strong> псевдоним</strong></h5>

                        Что означают записи “f(n) = ϴ(g(n))”, “f(n) = O(g(n))” и “f(n) = Ω(g(n))”?
                        Чем плох рекурсивный алгоритм вычисления n-ого числа Фибоначчи?
                        Опишите алгоритм проверки числа на простоту за O(sqrt(n))?
                        Опишите алгоритм возведения действительного числа в натуральную степень n за O(log n)?
                        Напишите нерекурсивный бинарный поиск первого вхождения элемента в мас

                    </div>
                </div>
            </div>

            <div class="panel-footer">

                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-thumbs-up">4</span>
                </button>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-thumbs-down">1</span>
                </button>

               <span class="bottom-right">
                <button class="button button1 pull-right">
                    <span class="glyphicon glyphicon-ok">Верно!</span></button
                </span>

            </div>
        </div>

        <hr></hr>

        <form class="form-group">
            <textarea class="form-control res-vert" rows="10" placeholder="Твой ответ"></textarea>
            <br>
            <button class="btn btn-primary form-control">
                Отправить
            </button>
        </form>
    </div>
{%endblock%}







