<!DOCTYPE html>
{%extends 'base.html'%}
{% load staticfiles %}
{%block user_bar%}
<ul class="nav navbar-nav navbar-right">

                <li>
                    <div class="container-fluid user-info">
                        <a class="navbar-brand" style="visibility:hidden">Никнейм</a>
                        <br>
                        <br>
                        <button class="btn btn-info" onclick="location.href={%url 'signup' %}">Регистрация</button>
                        <button type="submit" class="btn btn-success" onclick="location.href={%url 'login' %}">Вход
                        </button>
                    </div>
                <li>
            </ul>
{%endblock%}
{%block content%}
<div class="container">
    <br>

    <div class="col-md-9">
        <form class="form-signin" role="form">
            <h2 class="form-signin-heading">
                Регистрация
            </h2>
            <br>
            <div class="form-group">
                <label for="form-1-field" class="col-sm-2 control-label">Логин</label>
                <div class="col-md-offset-2" id="form-1-field"><input id="login" required type="text" class="form-control"
                                                                      placeholder="Введите логин"></div>
            </div>

            <div class="form-group">
                <label for="form-1-field" class="col-sm-2 control-label">Пароль</label>
                <div class="col-md-offset-2" id="form-1-field"><input type="text" class="form-control"
                                                                      placeholder="Введите пароль" required></div>
            </div>

            <div class="form-group">
                <label for="form-1-field" class="col-sm-2 control-label">Подтверждение пароля</label>
                <div class="col-md-offset-2" id="form-1-field"><input type="text" required class="form-control"
                                                                      placeholder="Введите пароль еще раз"></div>
            </div>

            <div class="form-group">
                <label for="form-1-field" class="col-sm-2 control-label">Электронная почта</label>
                <div class="col-md-offset-2" id="form-1-field">
                    <input type="text" class="form-control"  required placeholder="Введите электронную почту">
                </div>
            </div>

            <div class="form-group">
                <label for="form-1-field" class="col-sm-2 control-label">Телефон</label>
                <!--div class="input-group"-->
                <div class="col-md-offset-2" id="form-3-field">
                    <input type="text" required class="form-control" placeholder="Введите телефон">
                </div>
            </div>
             <div class="form-group">
                <label for="form-1-field" class="col-sm-2 control-label">Аватарка</label>
                <!--div class="input-group"-->
                <div class="col-md-offset-2" id="form-4-field">
                    <input type="file" required class="form-control" >
                </div>
            </div>

            <div class="col-md-offset-2" id="form-5-field">
               <!-- <button class="btn btn-primary" type="button" onclick="location.href='index.html'">Отправить</button>-->
                <!--a href="index.html" target="_blank">Отправить</a-->
                 <button class="btn btn-primary" type="submit" >Отправить</button>
            </div>


        </form>
    </div>
    {%endblock%}


